[submodule "shared/elm-dropbox"]
	path = shared/elm-dropbox
	url = https://github.com/osteele/elm-dropbox.git
[submodule "shared/elm-extras"]
	path = shared/elm-extras
	url = https://github.com/osteele/elm-extras.git
