.app {
    position: relative;
}

a.github {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    text-decoration: none !important;
    color: gray;
    &:hover {
        color: darkblue;
    }
}

@media only screen and (max-width: 850px) {
    a.github {
        display: none !important;
    }
}

.ui.borderless.menu {
    margin-bottom: 10px;
}

.ui.progress.success .bar {
    background-color: white !important;
    border: 1px solid lightgray;
}

.ui.progress.success>.label {
    color: lightgray;
}

a {
    text-decoration: underline !important;
    cursor: pointer;
}

.link {
    cursor: pointer;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.float-right {
    float: right
}

.toolbar {
    margin-top: 10px;
}

.tree {
    margin-top: 20px;
    ul {
        list-style: none;
        padding-left: 5px;
        li {
            padding-left: 16px;
            position: relative;
            ;
            box-sizing: border-box;
            &:before {
                content: '';
                height: 1px;
                width: 10px;
                background-color: #333;
                position: absolute;
                top: 10px;
                left: 0;
                margin: auto;
            }
            &::after {
                content: '';
                width: 1px;
                height: 100%;
                background-color: #333;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
            }
            &:last-child {
                &::after {
                    height: 10px;
                }
            }
        }
        a {
            cursor: pointer;
            &:hover {
                color: #333;
                text-decoration: none;
            }
        }
    }
}
