.breadcrumb {
    list-style: none;
}

.breadcrumb li {
    float: left;
}

.breadcrumb li::after {
    content: " > ";
    text-decoration: none !important;
}

.folder {
    cursor: pointer;
    text-decoration: underline
}

.size {
    float: right;
}

.file-item:after,
.file-item:after {
    content: "";
    display: table;
    clear: both;
}
